<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Ace Login</title>
    <link rel="stylesheet" href="../static/css/login.css" />
</head>
<body>
    <form id="Login" method="post" name="Login">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <!-- Inputs -->
        <div class="container" div align="center">
            <form>
              
              <div class="group">      
                <input type="text" name="userid" id="username"required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Username</label>
              </div>
                
              <div class="group">      
                <input type="password" name="passid" id="password"required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
              </div>
              
            </form>

            <button type="submit" id="submit" onclick="check(this.form)" class="custom-btn btn-3"><span>Login</span></button>
            
        </div>
    </form>
    <br>
    <br>
    

<!-- Footer -->
<div class="footer"> <p>&copy; Copyright 2022, CookiesKush420</p>
</body>
</html>
