<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Ace Send Commands</title>
    <link rel="stylesheet" href="../static/css/site.css"/>
</head>
<body>
<div class="topnav">
    <a href="dashboard.html">Dashboard</a>
    <a href="sendcommands.html">Send Commands</a>
    <a class=active href="#map">Map</a>
    <a href="login.html">Logout</a>
</div>

<div class="map">
    <iframe src="map_data.html" width="1700" height="650" frameborder="0"></iframe>
</div>


<!-- Footer -->
<div class="footer"> <p>&copy; Copyright 2022, CookiesKush420</p>


</body>
</html>
