<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f59a8210e7ffb431073b43f87c79af52 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f59a8210e7ffb431073b43f87c79af52" ></div>
        
</body>
<script>    
    
            var map_f59a8210e7ffb431073b43f87c79af52 = L.map(
                "map_f59a8210e7ffb431073b43f87c79af52",
                {
                    center: [32.9482, -96.7297],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a33e3b14794f2abe258ef4f645584846 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 3, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            var marker_6727b99da64d23f86d2e24143399251d = L.marker(
                [32.9482, -96.7297],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_6727b99da64d23f86d2e24143399251d.bindTooltip(
                `<div>
                     SERVER
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04e3465eba4b20766d3af809bfb9b6ba = L.marker(
                [47.6529, 18.3184],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_04e3465eba4b20766d3af809bfb9b6ba.bindTooltip(
                `<div>
                     IP: 88.132.231.71
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0ea21b684dcd39ddf2985f83a93c3d14 = L.marker(
                [51.7484, -0.9762],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_0ea21b684dcd39ddf2985f83a93c3d14.bindTooltip(
                `<div>
                     IP: 109.145.173.169
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ec8fd1613d3060204e744cc132724af2 = L.marker(
                [37.3394, -121.895],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_ec8fd1613d3060204e744cc132724af2.bindTooltip(
                `<div>
                     IP: 64.124.12.162
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c541b3fe7f9fef68e68ce1bd9bbb0be2 = L.marker(
                [48.8844, 8.6989],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_c541b3fe7f9fef68e68ce1bd9bbb0be2.bindTooltip(
                `<div>
                     IP: 188.105.91.173
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ea97feb5023a5caf6c83f3a5985812eb = L.marker(
                [45.5946, -121.1787],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_ea97feb5023a5caf6c83f3a5985812eb.bindTooltip(
                `<div>
                     IP: 34.105.72.241
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d557b07cabac09fe8d5aa2c711bfd20a = L.marker(
                [55.7522, 37.6156],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_d557b07cabac09fe8d5aa2c711bfd20a.bindTooltip(
                `<div>
                     IP: 213.33.142.50
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1a3fd66a1baa61451e91abd942272766 = L.marker(
                [48.1482, 17.1067],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_1a3fd66a1baa61451e91abd942272766.bindTooltip(
                `<div>
                     IP: 109.74.154.91
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9a8c441e88acca1d5c572032564b2839 = L.marker(
                [52.374, 4.8897],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_9a8c441e88acca1d5c572032564b2839.bindTooltip(
                `<div>
                     IP: 192.87.28.103
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2030e125b9bff157f2bb714bc092169a = L.marker(
                [47.6529, 18.3184],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_2030e125b9bff157f2bb714bc092169a.bindTooltip(
                `<div>
                     IP: 88.132.225.100
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e4ff79fbdc5a42283bd40815021bf01 = L.marker(
                [45.5946, -121.1787],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_3e4ff79fbdc5a42283bd40815021bf01.bindTooltip(
                `<div>
                     IP: 34.83.46.130
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_19b1bb6815ec45e6c47d755b1af37900 = L.marker(
                [38.8951, -77.0364],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_19b1bb6815ec45e6c47d755b1af37900.bindTooltip(
                `<div>
                     IP: 34.85.243.241
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_15de83d5f9da68e91f7a1049d6f33f3d = L.marker(
                [47.3667, 8.55],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_15de83d5f9da68e91f7a1049d6f33f3d.bindTooltip(
                `<div>
                     IP: 178.239.165.70
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d84ab204dab4c131457398b795df1fce = L.marker(
                [48.9661, 8.4043],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_d84ab204dab4c131457398b795df1fce.bindTooltip(
                `<div>
                     IP: 84.147.54.113
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cb36edbb26cbab6a76f69411e9ed6153 = L.marker(
                [55.7522, 37.6156],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_cb36edbb26cbab6a76f69411e9ed6153.bindTooltip(
                `<div>
                     IP: 95.25.81.24
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f2fcce123ca955f38a0a458279feb517 = L.marker(
                [49.4598, 8.4881],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_f2fcce123ca955f38a0a458279feb517.bindTooltip(
                `<div>
                     IP: 92.211.52.62
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_54141fed3c94acdc75c6924ee5d6a592 = L.marker(
                [38.8951, -77.0364],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_54141fed3c94acdc75c6924ee5d6a592.bindTooltip(
                `<div>
                     IP: 34.85.253.170
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9442bd5c54e9f5a06aab995a7359fe55 = L.marker(
                [32.8546, -79.9748],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_9442bd5c54e9f5a06aab995a7359fe55.bindTooltip(
                `<div>
                     IP: 35.229.69.227
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7a9433fd4989a020f0a032c7553ec251 = L.marker(
                [32.8546, -79.9748],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_7a9433fd4989a020f0a032c7553ec251.bindTooltip(
                `<div>
                     IP: 35.237.47.12
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bca58d5a9521745990d7e5783a48027e = L.marker(
                [55.7522, 37.6156],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_bca58d5a9521745990d7e5783a48027e.bindTooltip(
                `<div>
                     IP: 212.119.227.167
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ede63fc99e2b9a7dcfde76f73240011d = L.marker(
                [45.5946, -121.1787],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_ede63fc99e2b9a7dcfde76f73240011d.bindTooltip(
                `<div>
                     IP: 34.105.0.27
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43476e7f5912dd34646ada528bfcd494 = L.marker(
                [55.7522, 37.6156],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_43476e7f5912dd34646ada528bfcd494.bindTooltip(
                `<div>
                     IP: 194.154.78.152
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b7397a5c7c32ec5ec8134cd319dbb50e = L.marker(
                [55.5827, 37.9052],
                {}
            ).addTo(map_f59a8210e7ffb431073b43f87c79af52);
        
    
            marker_b7397a5c7c32ec5ec8134cd319dbb50e.bindTooltip(
                `<div>
                     IP: 89.208.29.106
                 </div>`,
                {"sticky": true}
            );
        
</script>